body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1D2228;
    position: fixed;
    top: 0;
    width: 100%;
}
#navbar ul :hover{
    background-color: #FB8122;
    color: #1D2228;
}
li{
    float: left;
}

#navbar a {
    float: left;
    display: block;
    color: #E1E2E2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
#navbar {
    overflow: hidden;
    background-color: #1D2228;
    width: 100%;
  }
li {
    display: inline;
  }
